#/app/cache
#!app/cache/prod/class_index.php
#/app/logs


/app/cache/*
!/app/cache/index.php
!/app/cache/*/
/app/cache/*/*
!/app/cache/prod/cachefs/index.php
!/app/cache/prod/purifier/index.php
!/app/cache/prod/push/index.php
!/app/cache/prod/sandbox/index.php
!/app/cache/prod/smarty/index.php
!/app/cache/prod/tcpdf/index.php

